@media (max-width: 1200px) {
    main #home-article .main-heading {
        font-size: 36px;
    }

    main img {
        width: 360px;
        height: 100%;
    }

    main .cameras {
        display: none;
    }

    main #pencil {
        display: none;
    }

    main #book {
        display: none;
    }
}

@media (max-width: 900px) {
    main #home-article{
        text-align: center;
        
        display: flex;
        justify-content: center;
        align-items: center;
    }

    main img {
        width: 100%;
        height: 100%;
    }

    main {
        flex-direction: column;
    }

    main article {
        width: 100%;
        font-size: 0.8em;
    }

    main figure {
        width: 100%;
        margin-top: 10%;
    }
}

@media (max-width: 600px) {
    /* main article p {
        font-size: 14px;
    } */
}