@import url('https://fonts.googleapis.com/css2?family=Playfair:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    list-style: none;
    font-family: 'Playfair', serif;
    font-size: 18px;
    font-weight: 800;
}

:root {
    --primary-color: #f9f5f6;
    --secondary-color: #fbe8ee;
    --third-color: #fdcedf;
    --fourth-color: #3f3542;
}

body {
    background-color: var(--primary-color);
    color: var(--fourth-color);
    cursor: url('../assets/cursor.png'), default;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    letter-spacing: 10px;
    font-size: 2.5em;
}

a {
    text-decoration: none;
    color: var(--primary-color);
    cursor: url('../assets/pointer.png'), default;
}

img {
    border-radius: 8px;
}

main.fade {
    animation: fade .8s;
}

.cameras {
    position: absolute;
    font-size: 120px;
    display: block;
    transition: color .3s;
    z-index: 0;
}

#camera1 {
    top: 100px;
    left: 40px;
    transform: rotate(-45deg);
    transition: transform 2s;
}

#camera2 {
    bottom: 100px;
    right: 40px;
    transform: rotate(135deg);
    transition: transform 2s;
}

#pencil {
    position: absolute;
    bottom: 100px;
    left: 40px;
    font-size: 100px;
    transition: color .3s;
}

#book {
    position: absolute;
    transform: rotate(45deg);
    top: 100px;
    right: 40px;
    font-size: 100px;
    transition: color .3s;
}

.container-loader {
    min-height: 100%;
    min-width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    position: fixed;
    top: 0;
    background-color: var(--primary-color);

    transition: opacity .5s, visibility .5s;
    z-index: 100;
}

.container-loader.hide {
    opacity: 0;
    visibility: hidden;
}

::-webkit-scrollbar {
    width: 7px;
}

::-webkit-scrollbar-track {
    background-color: var(--fourth-color);
}

::-webkit-scrollbar-thumb {
    background-color: var(--third-color);
    border-radius: 8px;
}

@media (hover:hover) {
    .cameras:hover {
        color: var(--third-color);
    }

    #camera1:hover {
        transform: rotate(1.5turn);
    }

    #camera2:hover {
        transform: rotate(1.5turn);
    }

    #pencil:hover {
        color: var(--third-color);
    }

    #book:hover {
        color: var(--third-color);
    }
}

@media only screen and (max-width: 1200px) {
    .cameras {
        display: none;
    }

    #pencil {
        display: none;
    }

    #book {
        display: none;
    }
}

@keyframes fade {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}