.section-photos {
    min-height: 42vh;
    padding-top: 88px;

    display: flex;
    justify-content: center;
    align-items: center;

    flex-direction: column;
    gap: 50px;
}

.section-photos h4 {
    font-size: 3em;
}

.section-photos .photos {
    display: flex;
    justify-content: center;
    align-items: center;

    flex-wrap: wrap;
    gap: 26px;
}

.section-photos .photos img {
    transition: all .3s;
}

.section-photos svg {
    font-size: 100px;
    cursor: url('../../assets/pointer.png'), default;
    transition: color .3s;
    animation: move .8s infinite alternate;
}

@media (hover:hover) {
    .section-photos .photos img:hover {
        transform: scale(1.05);
        box-shadow: rgba(0, 0, 0, .35) 0px 5px 15px;
    }

    .section-photos svg:hover {
        color: var(--third-color);
    }
}

@media only screen and (max-width: 1200px) {
    .section-photos svg {
        display: none;
    }

    .section-photos {
        justify-content: flex-start;
    }

    .section-photos .photos img {
        width: 250px;
    }
}

@media only screen and (max-width: 900px) {
    .section-photos {
        gap: 25px;
        padding-top: 0;
        margin-bottom: 25px;
    }

    .section-photos h4 {
        font-size: 2em;
    }

    .section-photos .photos img {
        width: 220px;
    }
}

@keyframes move {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(15px);
    }
}