#container-loader-photo {
    height: 100vh;
    width: 100%;
    top: 0;
    left: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    position: fixed;

    transition: opacity .5s, visibility .5s;
    background-color: var(--primary-color);
    z-index: 1;
}

#container-loader-photo.hide {
    opacity: 0;
    visibility: hidden;
}

@media (hover:hover) {
    .container-photo #free-photos img:hover {
        transform: scale(1.05);
    }

    .container-photo svg:hover {
        color: var(--third-color);
    }
}

@media only screen and (max-width: 1200px) {
    .container-photo {
        padding-top: 100px;
    }
}